<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recruitment Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Recruitment Application</h1>
    <div>
        <svg></svg>
    </div>
    <div>
        <p>Presets</p>
        <select id="graph-select">
            <option value="state-social">State/Social Media</option>
            <option value="race-economic-stability">Race/Economic Stability</option>
            <!-- <option value="gender-income-spending">Gender/Income Spending</option> -->
        </select>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>